[Unit]
Description=ExampleGame Backend Service
After=docker.service
Requires=docker.service

[Service]
Type=simple
User=yc-user
WorkingDirectory=/home/yc-user/ExampleGame
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Restart=always
RestartSec=10

# Environment
Environment="PATH=/usr/local/bin:/usr/bin:/bin"

[Install]
WantedBy=multi-user.target
